<div class="container-fluid">
<!-- Photo -->	
<div class="body-image">
<img src="https://s3.amazonaws.com/f.cl.ly/items/39013v3f14121g1z2H0O/DeathtoStock_Creative%20Community3.jpg" class="center-block">
</div>
<!-- Quick about Info -->
<div class="row">
<div class="col-md-4">
<img src="https://s3.amazonaws.com/f.cl.ly/items/0G1R1c0F0r3G233z1l1m/pic_of_me.png" alt="my picture" id="image" class="img-responsive">
</div>
<!-- About Info -->
<div class="col-md-8">
	<h3>Hello! My name is Cherie and I'm a Writer & Web Developer.</h3>
<p>I am a self taught coder living in Central Ohio. I'm originally from Southwestern Ohio, but after I attended college in the area, I fell in love with it and couldn’t go back.</p> 
<p>I always found myself in front of the computer. I remember being excited when I created my first blog and learned how to create a hyperlink. I have since gone deeper with my education in learning HTML, CSS, Javascript, jQuery, and Ruby. With this knowledge I am able to build responsive interactive websites and apps.</p>
<p>When Im not building websites, you can find me with my nose in a book or rooting for one of my favorite teams and discussing these things on my <a href="http://cheriedlampley.wordpress.com">blog</a> and <a href="http://youtube.com/cherielampley">YouTube channel</a>.</p>
<p><h3>Need a website? <a href="/work-with-me">Click here</a></h3></p>
</div>
</div>
</div>
