
    <head>
        <meta charset="utf-8">
        <title>CL | Portfolio</title>
        <link rel="shortcut icon" href="https://s3.amazonaws.com/f.cl.ly/items/0P2f2z0C0L1e3A1g212T/favicon.png">
        <!-- Style Sheets-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/folio.css" type="text/css">
	    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
        <!-- Font Family -->
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">
    </head>