	<body>
		<div class="container-fluid">
		 <div class="back">
			<a href="http://cherielampley.com">back to home</a>
		</div>
		 <h1>Let's Work Together</h1>
			 <hr>
			 <div class="work">
			 Are you a writer wanting to up your online presence?<br>
			 Are you someone that doesn't want to spend too much time worrying about building your website?<br>
			 Have you been switching between wordpress themes over and over and over again?<br>
			 </div>
			 <!-- What I do -->
			 <div style="margin-top: 2em;">
			 <b><div class="help">I AM HERE TO HELP!</div></b>
			 </div>
			 <div style="margin-bottom: 50px;" class="square">
			 	<img src="https://s3.amazonaws.com/f.cl.ly/items/2X3w1v3l0h2s120B1V30/landing-page.png" class="col-md-4">
			 	<img src="https://s3.amazonaws.com/f.cl.ly/items/1q2P3h0J2N3t2H1q3t3j/multi-page.png" class="col-md-4">
			 	<img src="https://s3.amazonaws.com/f.cl.ly/items/0V3C2k3F1y3n3a093n3k/blog.png" class="col-md-4">
			 </div>
			 <!-- Process -->
			 <div style="margin-top: 2em;">
			 	<h3 style="color: #9b36e2; text-align: center; font-size: 2em;">Here is how the process works:</h3>
			 	<ul class="process">
			 		<li>You will fill out the <a href="/contact-form.html">contact form</a> and I will respond to you within 48 hours.</li>
			 		<li>I will send you the proposal.</li>
			 		<li>I will send over the contract and invoice for 25%-50% of payment up front.</li>
			 		<li>I will send over a detailed questionnaire for the content you would like on your website.</li>
			 		<li>The website is designed and developed.</li>
			 		<li>The website is launched.</li>
			 	</ul>
			 </div>
			 <div class="started">
			 <h2 style="font-size: 3em;">Ready for a new website?</h2>
			 	<button class="work-button"><a href="/contact-form.html">Book Your Spot</a></button><br>
			 	**Limited Time Only Pricing For The First 5 Spots**
			 </div>
	  <footer id="footer">
	    </footer>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="JS/script.js"></script>
		</div>
		
	</body>