<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name="description" content="Cherie Lampley is a web strategy consultant, a writer, and a book reviewer.">
			<meta name="keywords" content="web design, web development, writer, websites, freelance">
	        <link rel="shortcut icon" href="https://s3.amazonaws.com/f.cl.ly/items/0P2f2z0C0L1e3A1g212T/favicon.png">
	        <!-- Style Sheets-->
	        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
			<link rel="stylesheet" href="../css/normalize.css" type="text/css">
	        <link rel="stylesheet" href="../css/folio.css" type="text/css">
			<link rel="stylesheet" href="../css/style.css" type="text/css">
	        <link rel="stylesheet" href="../css/responsive.css" type="text/css">
	        <!-- Font Family -->
	        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		</head>
		<body>
			<div class="container">
			<div class="back">
				<ul class="nav nav-pills">
				  <li>
	 			  <li>
	 			    <a href="/index.html">Home</a>
	 			  </li>
	 			  <li class="active"><a href="/blog">Blog</a></li>
	 			  <li><a href="/workwithme.html">Work With Me</a></li>
	 			  <li><a href="/resources.html">Resources</a></li>
	 			  <li><a href="/booklists.html">Book Lists</a></li>
				  </li>
				</ul>
			</div>
			
			{{ content }}
			<!-- footer  -->
			<footer id="footer-blog">
			</footer>
			<!-- script sheets -->
			<script src="//my.hellobar.com/6df0778468ae4c760d6feb81fd065ab4e088243c.js" type="text/javascript" charset="utf-8" async="async"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
			<script src="../JS/script.js"></script>
			</div><!-- /.container -->
			
		</body>
	</html>